@using ShopList.Client.Helpers
@using ShopList.Shared.DataModels.ShopList

<tr class="@_cssClass" @onclick="RowClicked">
    <th>@RowState.Item.Id</th>
    <th>@RowState.Item.ShopBrand.ShopBrandName</th>
    <th>@RowState.Item.City</th>
    <th>@RowState.Item.Address</th>
    <th>@RowState.Item.ZipCode</th>
    <th style="width: 15%">
        <div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="DeleteRow">Delete</button>
            <button type="button" class="btn btn-info" data-dismiss="modal" @onclick="EditRow">Edit</button>
        </div>
    </th>
</tr>

@code {
    [Parameter] public RowState<Shop> RowState { get; set; }
    [Parameter] public EventCallback<RowState<Shop>> RowSelectionChanged { get; set; }

    [Parameter] public EventCallback<Shop> RowDeleteClicked { get; set; }
    [Parameter] public EventCallback<Shop> RowEditClicked { get; set; }

    private async Task RowClicked()
    {
        RowState.IsSelected = !RowState.IsSelected;
        await RowSelectionChanged.InvokeAsync(RowState);
    }

    private async Task DeleteRow()
    {
        await RowDeleteClicked.InvokeAsync(RowState.Item);
    }

    private async Task EditRow()
    {
        await RowEditClicked.InvokeAsync(RowState.Item);
    }

    private Shop _shop => RowState.Item;
    private string _cssClass => RowState.IsSelected ? "selected-row" : "";
}

<style>
    .selected-row {
        background-color: #0000ff77;
    }
</style>